{% extends 'base.html' %}

{% block js %}
    
{% endblock js %}


{% block body %}

<!--- Image Slider -->
<div class="container table-white table-center">
  <h2>Downloads</h2>
  <table class="table">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>DataBase</th>
        <th>Filename</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Wikipedia</td>
        <td><a href="relation.csv" download>relation.csv</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>DBPEDIA</td>
        <td><a href="db.csv" download>relation.csv</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>WIKIDATA</td>
        <td><a href="wd.csv" download>relation.csv</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>DBPEDIA WIKIDATA HIERARCHY</td>
        <td><a href="in.csv" download>relation.csv</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>DBPEDIA WIKIDATA INFOBOX HIERARCHY</td>
        <td><a href="in.csv" download>relation.csv</a></td>
      </tr>
    </tbody>
  </table>
</div>


<!--- Jumbotron -->


<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->


<!--- Emoji Section -->

  
<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


{% endblock %}








