<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
#yes {
    width: 80px;
    height: 40px;
    background-color: lightsteelblue;
}
#no {
    width: 80px;
    height: 40px;
    background-color: lightsteelblue;
}
</style>
<body>
	<button id="yes">Expand All</button>
	<button id="no">Collapse</button>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<span id="lblData"></span>
<script type="text/javascript">
    var queryString = new Array();
    window.onload = function () {
        if (queryString.length == 0) {
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }
        }
        /*if (queryString["name"] != null && queryString["technology"] != null) {
            var data = "<u>Values from QueryString</u><br /><br />";
            data += "<b>Name:</b> " + queryString["name"] + " <b>Technology:</b> " + queryString["technology"];
            document.getElementById("lblData").innerHTML = data;
        }*/

    
var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 4500 - margin.right - margin.left,
    height = 1500 - margin.top - margin.bottom;
    //width=$(document).width()*2;
    //height=$(document).height()*2;
    // size of the diagram
   //var width = document.width();
    //var height = $(document).height();
    
var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

 //var e=document.getElementById('type').value;
 function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }
  function notcollapse(d) {
    if (d._children) {
      d.children = d._children;
      d.children.forEach(notcollapse);
      d._children = null;
    }
  }
 if(queryString["name"]=="l1"){
d3.json("https://gist.githubusercontent.com/sayakdutta/eedb7a97dc3b9f68bea00091909514c6/raw/437d6b758ff6de5db7648c622ae4113488d91136/relation.json", function(error, rel) {
  root = rel;
  root.x0 = height / 2;
  root.y0 = 0;

  
   root.children.forEach(collapse);
  	//document.getElementById("yes").onclick=function(){d.children.forEach(notcollapse);};
  	//document.getElementById("no").onclick=function(){d.children.forEach(collapse)};
  if(queryString["technology"] == "m1")
  root=(root.children)[0];
  if(queryString["technology"] == "m2")
  	root=(root.children)[1];
   if(queryString["technology"] == "m3")
  	root=(root.children)[2];
  update(root);
});}
if(queryString["name"]=="l2"){
d3.json("https://gist.githubusercontent.com/sayakdutta/babea6b6b65a625c42801de5c3a967fa/raw/27cae4256de72c1728ebb706dfe6e158a95630e9/db.json", function(error, rel) {
  root = rel;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }
  
  root.children.forEach(collapse);
  if(queryString["technology"] == "m1")
  root=(root.children)[0];
  if(queryString["technology"] == "m2")
  	root=(root.children)[1];
   if(queryString["technology"] == "m3")
  	root=(root.children)[2];
  update(root);
});}
if(queryString["name"]=="l3"){
d3.json("https://gist.githubusercontent.com/sayakdutta/be09c68a2f39639dbacf9b145bd5309e/raw/a951573e34829d96190d0f805777b484ae8896b3/wd.json", function(error, rel) {
  root = rel;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }
  
  root.children.forEach(collapse);
  if(queryString["technology"] == "m1")
  root=(root.children)[0];
  if(queryString["technology"] == "m2")
  	root=(root.children)[1];
   if(queryString["technology"] == "m3")
  	root=(root.children)[2];
  update(root);
});}
if(queryString["name"]=="l4"){
d3.json("https://gist.githubusercontent.com/sayakdutta/fcb261960b64d76058e3f666027409ac/raw/c292a9c998f4c9b29b3303abde64753c054bd7c6/in.json", function(error, rel) {
  root = rel;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }
  
  root.children.forEach(collapse);
  if(queryString["technology"] == "m1")
  root=(root.children)[0];
  if(queryString["technology"] == "m2")
  	root=(root.children)[1];
   if(queryString["technology"] == "m3")
  	root=(root.children)[2];
  update(root);
});}
if(queryString["name"]=="l5"){
d3.json("https://gist.githubusercontent.com/sayakdutta/fcb261960b64d76058e3f666027409ac/raw/c292a9c998f4c9b29b3303abde64753c054bd7c6/in.json", function(error, rel) {
  root = rel;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }
  root.children.forEach(collapse);
  if(queryString["technology"] == "m1")
  root=(root.children)[0];
  if(queryString["technology"] == "m2")
  	root=(root.children)[1];
   if(queryString["technology"] == "m3")
  	root=(root.children)[2];
  update(root);
});}
d3.select(self.frameElement).style("height", "800px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 580; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });
/*var nodeEnter=node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click1);*/
  // Enter any new nodes at the parent's previous position.
   var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click);

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d3.set(d._children).size() ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d3.set(d._children).size() ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    //document.getElementById("yes").onclick=function(){d.children.forEach(notcollapse);};
    d.children=null;
    width-=1000;
    height-=1000;
  } else {
    d.children = d._children;
    document.getElementById("yes").onclick=function(){d.children.forEach(notcollapse);};
    document.getElementById("no").onclick=function(){d.children.forEach(collapse);};
    d._children=null;
    height+=1000;
    width+=1000;}
//document.getElementById("yes").onclick=function(){d.children.forEach(notcollapse)};}

 /*svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");*/


update(d);
}
};
</script>

